aside.tObject.downloadNow table tr:first-child td span {
    background:url(../images/Systems.png);
    background-size:115px 33px;
}
aside.tObject section.preview div {
    background:url(../images/Windows-Sprite.png);
}