header.toxHeader section div span.logo {
    background-image:url(../images/Logo@2x.png);
}
aside.tObject.downloadNow table tr:first-child td span,
header.toxHeader section div p a.button span {
    background:url(../images/Systems@2x.png);
}
aside.tObject section.preview {
    background:url(../images/Windows-Sprite@2x.png);
}
aside.tObject.light {
    background-image:url(../images/Pattern-Light.png);
}
aside.tObject.dark {
    background-image:url(../images/Pattern-Dark.png);
}