body {
    color:#d7d1d1;
    overflow: hidden;
}
html.no-js body {
    overflow:auto;
}

/* HEADER */
header.toxHeader {
    width:100%;
    
    background-color:#000;
    
    text-shadow: 0px 1px 0px rgba(0,0,0,.6);
    -webkit-text-shadow: 0px 1px 0px rgba(0,0,0,.6);
    -o-text-shadow: 0px 1px 0px rgba(0,0,0,.6);
    -ms-text-shadow: 0px 1px 0px rgba(0,0,0,.6);
}
header.toxHeader section {
    height:100%;
    width:100%;
    
    opacity:0;
    
    background-image:url(../images/Background.png);
    background-repeat:no-repeat;
    background-position: center -200px;
    
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
}
html.no-js header.toxHeader section {
    opacity:1;
}
header.toxHeader section.active {
    opacity:.4;
    background-position: center 0;
}

header.toxHeader section nav {
    width:100%;
    
    padding-top:25px;
    font-size:16px;
}
header.toxHeader section nav ul {
    text-transform: uppercase;
    list-style-type: none;
}
header.toxHeader section nav ul li {
    display:inline;
    padding-right: 40px;
    text-decoration: none;
}
header.toxHeader section nav ul li:last-child {
    padding-right:0;
}
header.toxHeader section nav ul li a {
    color:#d7d1d1;
}
header.toxHeader section nav ul li a:hover {

}
header.toxHeader section div {
    width:100%;
    margin:0;
    padding:0;
    
    color:#d7d1d1;
}
html.no-js header.toxHeader section div {
    padding-top:60px;
    padding-bottom:40px;
}
html.csstransforms header.toxHeader section div {
    margin-top:0;
    margin-bottom:0;
    
    position: absolute;
    left: 50%;
    top: 50%;

    /*
    *  Where the magic happens
    *  Centering method from CSS Tricks
    *  http://css-tricks.com/centering-percentage-widthheight-elements/
    */
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
html.csstransforms header.toxHeader section div.active {
    opacity:0;
    top: 80%;
}
header.toxHeader section div span {
    display:block;
    
    height:99px;
    
    background-image:url(../images/Logo.png);
    background-size:81px 99px;
    background-repeat:no-repeat;
    background-position:center top;
        
    opacity:.8;
}
header.toxHeader section div b {
    font-weight:inherit;
    color:#faf5f5;
}
header.toxHeader section div h1 {
    margin:0;
    padding:0;
    
    color:inherit;
    text-align:center;
    font-size:60px;
    line-height:100px;
}
header.toxHeader section div p {
    text-align:center;
    font-size:20px;
}
header.toxHeader section div p a {
    color:#d7d1d1;
}
header.toxHeader section div p a.button {
    margin-bottom:0;
    
    color:#faf5f5;
    background-color:#fc605b;
    font-size:18px;

    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,.2);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,.2);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,.2);
    
    text-shadow: 0px 1px 0px rgba(0,0,0,.15);
    -webkit-text-shadow: 0px 1px 0px rgba(0,0,0,.15);
    -o-text-shadow: 0px 1px 0px rgba(0,0,0,.15);
    -ms-text-shadow: 0px 1px 0px rgba(0,0,0,.15);
}
header.toxHeader section div p a.button:hover {
    background-color:#d8524e;
}
header.toxHeader section div p:last-child {
    font-size:16px;
}
header.toxHeader footer {
    position:absolute;
    bottom:0;
    
    height:70px;
    
    padding-bottom:0px;
    width:100%;
    
    overflow:hidden;
}
html.no-js header.toxHeader footer {
    display:none;
}
header.toxHeader footer.active {
    height:0px;
    opacity:0;
}
header.toxHeader footer span {
    font-size:48px;
}

/* CONTENT */
aside.toxObject {
    height:1000px;
    width:100%;
    
    background:#fff;
}

/* FOOTER */
