header.toxHeader section div span.logo {
    background-image:url(../images/Logo.png);
}
aside.tObject.downloadNow table tr.headTable td span,
header.toxHeader section div p a.button span {
    background:url(../images/Systems.png);
}
aside.tObject section.preview div {
    background:url(../images/Windows-Sprite.png);
}
aside.tObject.light {
    background-image:url(../images/Pattern-Light.png);
}
aside.tObject.dark {
    background-image:url(../images/Pattern-Dark.png);
}