html,
button,
input,
select,
textarea {
    color: #f6f7fb;
    outline:0;
}

html,
body {
    background-color:#000;
    
    -webkit-transition:background-color .25s cubic-bezier(.22,.85,.33,1.16);
    -moz-transition:background-color .25s cubic-bezier(.22,.85,.33,1.16);
    -o-transition:background-color .25s cubic-bezier(.22,.85,.33,1.16);
    -ms-transition:background-color .25s cubic-bezier(.22,.85,.33,1.16);
    transition:background-color .25s cubic-bezier(.22,.85,.33,1.16);

    font-size: 1em;
    line-height: 1.4;
    
    height:100%;
    width:100%;
}
a {
    outline:0;
    text-decoration:none;
    
    -webkit-transition:color .2s ease-in-out;
    -moz-transition:color .2s ease-in-out;
    -o-transition:color .2s ease-in-out;
    -ms-transition:color .2s ease-in-out;
    transition:color .2s ease-in-out;
}

/*
* Remove text-shadow in selection highlight: h5bp.com/i
* These selection rule sets have to be separate.
* Customize the background color to match your design.
* + Custom color
*/
::selection {
    background:#000;
    color:#ffffff;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
}
::-moz-selection {
    background:#000;
    color:#ffffff;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
}
::-webkit-selection {
    background:#000;
    color:#ffffff;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
}
::-o-selection {
    background:#000;
    color:#ffffff;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
}
::-ms-selection {
    background:#000;
    color:#ffffff;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
}

body {
    height:100%;
    width:100%;
    
    overflow: auto;
    overflow-x: hidden;
    -ms-overflow-x: hidden;

    color:#6f6f6f;
}

/* Fix: Disable user selection */
.disableSelection {
    
    cursor:default;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -khtml-user-drag: none;
    -webkit-user-drag: none;
    -o-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
}

/* Fonts */
.font {
    
    font-weight:100;
    font-style: normal;
    font-smooth:always;
    text-rendering: optimizeLegibility;

    cursor:default;
}
.font.FiraSans {
    font-family: 'Fira Sans', 'Lucida Grande', 'Helvetica', 'Arial', sans-serif;
}
.font.System {
    font-family: Monaco, 'Liberation Mono', Courier, monospace, arial;
}
.font.light {
    font-weight:100;
}
.font.regular {
    font-weight: 200;
}
.font.bold, b, strong {
    font-weight: 300;
}
.font.extrabold {
    font-weight:400;
}
.hideText {
    /* Move text far away */
    font-size:0.01px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    /* Force hiding */
    color:transparent;
}
